@import 'harmoware-vis/scss/harmoware.scss';

div.harmovis_controller {
    @extend .harmovis_controller;
    width: 260px;
    ul {
        list-style-type: none; 
        padding: 0px; 
        margin: 0px; 
        li.flex_row {
          padding: 5px 0px; 
          display: flex;
          flex-direction: row;
        }
        li.flex_column {
          @extend .flex_row;
          flex-direction: column;
        }
        }
    button.harmovis_button {
        width: 100%;  
    }
}
  